{% extends 'expense_tracker/base.html' %}

{% block content %}
    <div style="text-align: center;"><img src=" /static/images/family.png" height="500" alt="Family"></div>
     <a class="weatherwidget-io" href="https://forecast7.com/ru/53d9027d56/minsk/" data-label_1="Погода в" data-label_2="МИНСК" data-font="Arial Black" data-icons="Climacons Animated" data-shadow="rgba(3, 3, 3, 0.26)" data-textcolor="rgba(78, 74, 74, 0.9)" data-highcolor="#db0000" data-lowcolor="#113daf" data-suncolor="#fff700" data-mooncolor="rgba(230, 230, 90, 0.87)" data-cloudcolor="rgba(5, 5, 79, 0.81)" data-cloudfill="rgba(107, 109, 159, 0.98)" data-raincolor="#0004ff" data-snowcolor="#0091fd" >Погода в МИНСК</a>
            <script>
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src='https://weatherwidget.io/js/widget.min.js';fjs.parentNode.insertBefore(js,fjs);}}(document,'script','weatherwidget-io-js');
            </script>
{% endblock %}